<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nz.net.speakman.destinyraidtimers">

    <application
        android:allowBackup="true"
        android:name=".RaidApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".crota.CrotaActivity"
            android:theme="@style/CrotaTheme"/>
        <activity
            android:name=".consumables.ConsumablesActivity"
            android:theme="@style/ConsumablesTheme"
            android:launchMode="singleTop"/>

        <service android:name=".NotifyService"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
